h1 {
    text-align: center;
}

body {
    background-color: #008e9d;
    color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


th, td {
    padding: 15px;
}

#add_question {
    -webkit-appearance: button;
    appearance: button;
}
table {
    width: 100%;
}