<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ask question</title>
    </head>
    <body>

        <h1>Ask new question</h1>

        <form action="/add-question" method='POST'>

            <label for="title"> Question:</label> <br>
            <textarea id="title" name="title" rows="1" cols="40" minlength=5  maxlength=500 required></textarea><br>

            <label for="message">Message:</label> <br>
            <textarea id="message" name="message" rows="5" cols="80" maxlength=500 required></textarea><br>

            <label for="submit_button"></label> <br>
            <input id = "submit_button" type="submit" value= "Add New Question"></button><br>

        </form><br>
        <a href='/list'>
            <button>Back To The List</button>

    </body>
</html>