<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
     <style>
         table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                        }
                th, td {
                        padding: 15px;
     </style>
</head>
<body>
    <h1> Add new answer</h1>


     <form action='/question/<question_id>/new-answer' method='POST'>
         <label for="message">Message:</label> <br>
         <textarea id="message" name="message" rows="5" cols="80" required></textarea><br>

         <label for="image_path">Image:</label> <br>
         <textarea id="image_path" name="image_path" rows="2" cols="80" required></textarea><br>
     </form>

</body>
</html>