<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>All question</h1>

    <form action="/" method="GET">
        <label for="sort">Sort by:</label> <br>
        <select name="sort" class="link_button">
            <option value="submission_time" >Descending Date</option>
            <option value="submission_time" >Ascending Date</option>
            <option value="vote_number" >Descending Vote</option>
            <option value="vote_number" >Ascending Vote</option>
            <option value="view_number" >Descending View</option>
            <option value="view_number" >Ascending View</option>

        </select><br>
    </form>
    <table>
            <tr>
                <th>ID</th>
                <th>Submission Time</th>
                <th>View Number</th>
                <th>Vote Number</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            {% for question in all_question %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.submission_time }}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td><a href="/question/{{ question.id }}" class="link_button">{{ question.title }}</a></td>
                    <td>{{ question.message }}</td>
                    <td>{{ question.image }}</td>
                </tr>
            {% endfor %}
        </table>
        <br><a href='/' class="link_button">Home</a>
</body>
</html>