<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{#<div class="log">#}
{#    <form action="{{ (url_for('login')) }}" method="POST">#}
{#        <label for="username">Username</label>#}
{#        <input type="text" name="username">#}
{#        <label for="password">Password</label>#}
{#        <input type="password" name="password">#}
{#    </form>#}
{#</div>#}
<div class="log">
    <a href= "{{ url_for('registration') }}">Registration</a>
</div>

<div>
    <br><a href='/' class="link_button">Home</a><br><br>
</div>
    <div class="footer_class" ><p>Made by: Noémi, Réka, Jani, Gábor and Bohi (we remember)</p></div>
</html>