{% extends "layout.html" %}

{% block content %}

    <h1>Ask Mate!</h1>
    <p><a id="display_all_question" class="link_button" href="/list">See all question</a></p><br>
    <p><a id="add_question" class="link_button" href="/add-question">Add question</a></p>
    <label for="search"></label>
    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" id="search" name="search" >
        <button type="submit" class="link_button">Search</button>
    </form>
    <br><br>

    <table>
        <tr>
            <!--<th>ID</th>-->
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th width="150">Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for question in last_five_question %}
            <tr>
                <!--<td>{{ question.id }}</td>-->
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td width="150" ><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                <td>{{ question.message }}</td>
                <td>{{ question.image }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}