<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Ask Mate!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <h1>Ask Mate!</h1>
        <p><a id="add_question" href="/add-question">Add question</a></p>
        <table>
            <tr>
                {% for title in question_headers %}
                        <th>
                            {{ title }}
                        </th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for item in data_header %}
                    <td>
                        {% if item == "title" %}
                            <a href="/question/{{ row['id'] }}">{{ row[item] }}</a>
                            {% else %}
                                {{ row[item] }}
                            {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>