{% extends "layout.html" %}

{% block content %}

    <h1>{{ question_by_id.title }}</h1><br/>
     <table>
        <tr>
            <th>Id</th>
            <th>Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>

         <tr>
             <td>{{ question_by_id.id }}</td>
             <td>{{ question_by_id.submission_time }}</td>
             <td>{{ question_by_id.view_number }}</td>
             <td>{{ question_by_id.vote_number }}</td>
             <td>{{ question_by_id.title }}</td>
             <td>{{ question_by_id.message }}</td>
             <td>{{ question_by_id.image }}</td>
         </tr>
     </table>

     <br>
     <a href='/' class="link_button">Home</a><br><br>

     {% if not new_answer %}
         <a href='/question/{{ question_by_id.id }}/new-answer' class="link_button">Add New Answer</a>

    {% endif %}

     {%  if new_answer %}
         <form action='/question/{{ question_by_id.id }}/new-answer' method='POST'>
             <label for="message">Please write your answer:</label> <br>
             <textarea id="message" name="message" rows="5" cols="80" maxlength=500 required></textarea><br>

             <label for="image_path">Image:</label> <br>
             <textarea id="image_path" name="image_path" rows="2" cols="80" ></textarea><br>

            <input type="submit" class="link_button" value="Submit">
         <a href='/question/{{ question_by_id.id }}' class="link_button">Back To Question</a>
         </form>
     {% endif %}
    <br>
    <br><br><br>
     <table>
        <tr>
            <th>Id</th>
            <th>Submission Time</th>
            <th>Vote Number</th>
            <th>Message</th>
            <th>Image</th>
        </tr>

        <tr>
            {% for answer in answers_by_question_id %}
                <tr>
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.submission_time }}</td>
                    <td>{{ answer.vote_number }}</td>
                    <td><a href=/answer/{{ answer.id}}/edit class="link_button">{{ answer.message }}</td>
                    <td>{{ answer.image }} </td>
                </tr>
            {%  endfor %}
     </table>

{% endblock %}