{% extends "layout.html" %}

{% block content %}

    <h1>{{ question_by_id.title }}</h1><br/>
     <table>
        <tr>
            <!--<th>Id</th>-->
            <th>Submission Time</th>
{#            <th>View Number</th>#}
{#            <th>Vote Number</th>#}
            <th>Title</th>
            <th>Message</th>
{#            <th>Image</th>#}
            <th>Question by</th>
        </tr>

         <tr>
             <!--<td>{{ question_by_id.id }}</td>-->
             <td>{{ question_by_id.submission_time }}</td>
{#             <td>{{ question_by_id.view_number }}</td>#}
{#             <td>{{ question_by_id.vote_number }}</td>#}
             <td>{{ question_by_id.title }}</td>
             <td>
                 {% if session["user_id"] == question_by_id.user_id %}
                    <a href=/question/{{ question_by_id.id}}/edit>{{ question_by_id.message }}</a>
                 {% else %}
                    {{ question_by_id.message }}
                 {% endif %}
             </td>
{#             <td>{{ question_by_id.image }}</td>#}
             <td>{{ question_by_id.name }}</td>
         </tr>
     </table>

     <br>
     <a href='/' class="link_button">Home</a><br><br>
    {% if session['user_id'] %}
         {% if not new_answer %}
             <a href='/question/{{ question_by_id.id }}/new-answer' class="link_button">Add New Answer</a>

        {% endif %}
    {% endif %}

     {%  if new_answer %}
         <form action='/question/{{ question_by_id.id }}/new-answer' method='POST'>
             <label for="message">Please write your answer:</label> <br>
             <textarea id="message" name="message" rows="5" cols="80" maxlength=500 required></textarea><br>

             <label for="image_path">Image:</label> <br>
             <textarea id="image_path" name="image_path" rows="2" cols="80" ></textarea><br>

            <input type="submit" class="link_button" value="Submit">
         <a href='/question/{{ question_by_id.id }}' class="link_button">Back To Question</a>
         </form>
     {% endif %}
    <br>
    <br><br><br>
    {% if answers_by_question_id %}
        <h1>Answer</h1>
         <table>
            <tr>
                <!--<th>Id</th>-->
                <th>Status</th>
                <th>Submission Time</th>
{#                <th>Vote Number</th>#}
                <th>Message</th>
{#                <th>Image</th>#}
                <th>Answer by</th>
            </tr>

            <tr>
                {% for answer in answers_by_question_id %}
                    <tr>
                        <!--<td>{{ answer.id }}</td>-->
                        <td>
                            {% if session['user_id']==question_by_id.user_id %}
                                {%  if answer.status is none %}
                                    <form action='/answer/{{ answer.id }}/accept' method='POST'>
                                        <input name='status' type="submit" class="link_button" value="Accept">
                                    </form>
                                {% else %}
                                    {{ answer.status }}
                                {% endif %}
                            {% else %}
                                {% if answer.status is none %}
                                    Not yet accepted
                                {% else %}
                                    {{ answer.status }}
                                {% endif %}
                            {% endif %}
                        </td>

                        <td>{{ answer.submission_time }}</td>
{#                        <td>{{ answer.vote_number }}</td>#}
                        <td>
                            {% if session["user_id"] == answer.user_id %}
                                <a href=/answer/{{ answer.id}}/edit>{{ answer.message }}</a>
                            {% else %}
                                {{ answer.message }}
                            {% endif %}
                        </td>
{#                        <td>{{ answer.image }} </td>#}
                        <td>{{ answer.name }}</td>
                    </tr>
                {%  endfor %}
         </table>
    {% endif %}

{% endblock %}