{% extends "layout.html" %}

{% block content %}

  <h1>Update answer</h1>
  <form action="/answer/{{ answer[0]['id'] }}/edit " method="POST">
        <input type="hidden" id="question_id" name="question_id" value="{{ answer[0]['question_id'] }}">

        <input type="hidden" id="id" name="id" value="{{ answer[0]['id'] }}">

        <label for="message"> Message:</label> <br>
        <textarea id="message" name="message" rows="5" cols="80" minlength=5 required>{{ answer[0]['message'] }}</textarea><br>

        <label for="image"> Image:</label> <br>
        <textarea id="image" name="image" rows="1" cols="40">{{answer[0]['image'] }}</textarea><br>

        <label for="submit_button"></label><br>
        <input id="submit_button" type="submit" value="Edit answer" ><br>
  </form><br/>
    <form action='/answer/{{ answer[0]['id'] }}/delete' method='POST'>
        <input type="hidden" id="question_id" name="question_id" value="{{ answer[0]['question_id'] }}">
        <button type="submit" onclick="return confirm('Are you sure to delete this answer?');">Delete answer</button>
    </form>

{% endblock %}
