{% extends 'layout.html' %}

{% block content %}
    <h1>User: {{ user_questions_by_id[0].name }}</h1>
    {% if user_questions_by_id %}
        <h1>Questions</h1>

        <table>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Title</th>
                    <th>Message</th>
                </tr>
                {% for questions in user_questions_by_id %}
                    <tr>
                        <!--<td>{{ questions.id }}</td>-->
                        <td>
                            {% if questions.id %}
                                <a href="/question/{{ questions.id }}">{{ questions.title }}</a>
                            {% else %}
                                {{ questions.title }}
                            {% endif %}
                        </td>
                        <td>{{ questions.message }}</td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}

    <br><br><br>

    {% if user_answers_by_id %}
        <h1>Answers</h1>
         <table>
            <tr>
                <th>Question Title</th>
                <th>Question Message</th>
                <th>Answer Message</th>
            </tr>

            <tr>
                {% for answer in user_answers_by_id %}
                    <tr>
                        <td>{{ answer.question_title }}</td>
                        <td>{{ answer.question_message }}</td>
                        <td><a href="/question/{{ answer.id}}">{{ answer.answer_message }}</td>
                    </tr>
                {%  endfor %}
         </table>
    {% endif %}

    <p><a class="link_button" href="/list_users">Back to users</a></p>

{% endblock %}